# Data Science Tools and Ecosystem

In this notebook, we will be taking a look at the tools used in data science and its environment

__Objectives:__
- Learning about Tools used in Data Science
- Learning about Languages used in Data Science
- Learning about Libraries used in Data Science

Following are the lanuagues used for Data Science:
1. Python
1. R
1. SQL
1. Julia
1. Java

Following are the libraries used in Data Science:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit Learn

|Tools Used in Data Science|
|--------------------------|
|Jupyter Notebook|
|IBM Watson Studio|
|RStudio|
|Anaconda Navigator|

### Below is an example of executing arthimetic expressions using Python

In [4]:
# In the code below, we are adding and multiplying numbers

print((3*4)+5)

17

In [5]:
# In the code below, we are converting hours into mins

print(200/60)

3.3333333333333335

## Author 
Ahsan